.contact-btn {
  height: 30px;
  font-size: 16px;
  letter-spacing: -1px;
  min-width: 60px;
  padding: 0.5em 1em;
  text-align: center;

}

.success-message{
  color: lightgreen;
}

.error-message{
  color: lightsalmon;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}
