<!-- Contact Section -->
<section class="faq-section position-relative">
  <div class="container">
    <!-- contact -->
    <div class="faq-accordion">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title"><h2>{{ "contact.title" | translate }}</h2></div>
          <form action="">
            <div class="form-group">
              <div style="padding: 0.5em 1em;">
                <input type="text" class="form-control" placeholder="{{ 'contact.name' | translate }}" />
              </div>
              <div style="padding: 0.5em 1em;">
                <input type="text" class="form-control" placeholder="{{ 'contact.email' | translate }}" />
              </div>
              <div style="padding: 0.5em 1em;">
                <textarea class="form-control" placeholder="{{ 'contact.message' | translate }}"></textarea>
              </div>
              <div class="contact-btn"><button class="btn btn--orange btn--hover-shine">{{ "contact.button" | translate }}</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-holder faq-shape" data-aos="zoom-in-right" data-aos-once="true"><img src="./assets/image/faq-shape.svg" alt=""></div>
</section>
