<div class="site-wrapper">

  <app-navbar></app-navbar>

  <!-- Hero-Area -->
  <div class="hero-area position-relative">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-7 col-12">
          <div class="hero-content">
            <h1>{{ "home.content-1.title" | translate }}</h1>
            <p>{{ "home.content-1.description" | translate }}</p>
            <div class="hero-btn"><a href="#contact" class="btn btn--orange btn--hover-shine">{{ "home.content-1.button" | translate }}</a></div>
            <!-- <div class="rating">
              <div class="icon">
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star active"></i>
                <i class="fas fa-star"></i>
              </div>
              <span class="text">Trused by over 4,332 students</span>
            </div> -->
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-5 col-12">
          <div class="hero-media">
            <img src="assets/image/hero.png" alt="">
            <a class="video-play-trigger" data-fancybox href="https://youtu.be/tuBTRs4Alrs"><i class="icon icon-triangle-right-17-2"></i></a>
            <div class="media-shape animate-spin"><img src="assets/image/media-shape.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-holder hero-shape" data-aos="fade-right" data-aos-once="true"><img src="assets/image/hero-orange-shape.svg" alt=""></div>
  </div>

  <!-- Course section -->
  <section id="courses" class="course-section position-relative" style="padding-top: 0;">
    <div class="shape-holder">
      <img src="./assets/image/section-2-shape-bg.svg" alt="">
    </div>
    <div class="shape-holder" data-aos="zoom-in"  data-aos-once="true">
      <img src="./assets/image/section-2-shape.svg" alt="">
    </div>
    <div class="shape-holder course-shape-3" data-aos="zoom-in-left" data-aos-once="true">
      <img src="./assets/image/course-yelloow-svg.svg" alt="">
    </div>
    <div class="container pt-lg--85">
      <div class="accordion course-accordion" id="accordionExample" >
        <div class="card course-card"  data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" style="background-image: url(./assets/image/dibujo1.jpg); background-size: cover; background-position-y: -99px;">
          <div class="card-header" id="headingOne">
            <div class="row">
                <div class="col-xl-6 col-lg-7">
                  <div class="acc-left-content d-flex">
                    <div class="acc-icon">
                      <img src="./assets/image/course-acc-icon.svg" alt="">
                    </div>
                    <div class="acc-head-contents" data-fancybox href="https://youtu.be/NXLczEhxSfY">
                      <h3 style="text-shadow: 1px 1px white;">{{ "home.children-course.title" | translate }}</h3>
                      <p style="text-shadow: 0 1px black;">{{ "home.children-course.content" | translate }}
                      </p>

                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card course-card"  data-aos="fade-up" data-aos-duration="2000" data-aos-once="true" data-aos-delay="200" style="background-image: url(https://cdn.pixabay.com/photo/2020/04/20/20/56/people-looking-in-laptop-5069842_1280.jpg); background-position-y: -240px;">
          <div class="card-header" id="heading2">
            <div class="row">
                <div class="col-lg-6">
                  <div class="acc-left-content d-flex">
                    <div class="acc-icon">
                      <img src="./assets/image/course-acc-icon.svg" alt="">
                    </div>
                    <div class="acc-head-contents" data-fancybox href="https://www.youtube.com/watch?v=3eYdBDzNKxA">
                      <h3 style="text-shadow: 1px 1px white;">{{ "home.adult-course.title" | translate }}</h3>
                      <p style="text-shadow: 0 1px black;" >{{ "home.adult-course.content" | translate }}</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <!-- <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="course-inline-list">
                  <li><a href=""><i class="icon icon-check-2"></i>Persona Creation</a></li>
                  <li><a href=""><i class="icon icon-check-2"></i>Why Persona is Important</a></li>
                  <li><a href=""><i class="icon icon-check-2"></i>Data-Driven Personas</a></li>
                </ul>
            </div>
          </div> -->
        </div>
        <div class="card course-card"  data-aos="fade-up" data-aos-duration="2000" data-aos-once="true" data-aos-delay="400" style="background-image: url(https://cdn.pixabay.com/photo/2020/06/23/14/10/chinese-medicine-5332680_1280.jpg); background-position-y: -240px;">
          <div class="card-header" id="heading3">
            <div class="row">
                <div class="col-lg-6">
                  <div class="acc-left-content d-flex">
                    <div class="acc-icon">
                      <img src="./assets/image/course-acc-icon.svg" alt="">
                    </div>
                    <div class="acc-head-contents" data-fancybox href="https://youtu.be/zVT9J-1r66I">
                      <h3 style="text-shadow: 1px 1px white;">{{ "home.intensive-course.title" | translate }}</h3>
                      <p style="text-shadow: 0 1px black;" >{{ "home.intensive-course.content" | translate }}</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="card course-card"  data-aos="fade-up" data-aos-duration="2000" data-aos-once="true" data-aos-delay="600" style="background-image: url(./assets/image/dibujo4.jpg);     background-position-y: -377px; background-position-x: 268px; background-size: cover;" >
          <div class="card-header" id="heading4">
            <div class="row">
                <div class="col-lg-6">
                  <div class="acc-left-content d-flex">
                    <div class="acc-icon">
                      <img src="./assets/image/course-acc-icon.svg" alt="">
                    </div>
                    <div class="acc-head-contents">
                      <h3 style="text-shadow: 1px 1px white;">{{ "home.culture-course.title" | translate }}</h3>
                      <p style="text-shadow: 0 1px black;" >{{ "home.culture-course.content" | translate }}</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Aurthor Starts -->
  <div class="aurthor-section" id="teachers" *ngFor="let teacher of teachers">
    <div class="container">
      <div class="row  spacing-bottom mb--10">
        <div class=" col-lg-5 col-md-4" data-aos="zoom-in-right"  data-aos-once="true" data-aos-delay="55" data-aos-duration="1500">
          <div class="aurthor-image">
            <img src="{{ teacher.img }}" alt="{{ teacher.user }}">
          </div>
        </div>

        <div class="col-lg-6 offset-md-1 col-md-6" data-aos="zoom-in-left"  data-aos-once="true" data-aos-delay="55" data-aos-duration="1500">
          <div class="aurthor-content">
            <span class="account">@{{ teacher.user }}</span>
            <h2>{{ "home.teachers."+teacher.user+".title" | translate }}</h2>
            <p>{{ "home.teachers."+teacher.user+".description" | translate }}</p>
            <blockquote>
              {{ teacher.quote1 }}
              <cite>{{teacher.author1}}</cite>
            </blockquote>
            <blockquote *ngIf="teacher.quote2 != ''">
              {{ teacher.quote2 }}
              <cite>{{teacher.author2}}</cite>
            </blockquote>
          </div>
        </div>
      </div>
      <span class="section-devider"></span>
    </div>
  </div>

  <!-- Testimonial Starts -->
  <section id="resources" class="testimonial-section position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-xl-6">
          <!-- <h2>{{home.testimonial | translate}}</h2>-->
        </div>
      </div>
      <div class="testimonial-slider-wrapper">
        <div class="slider-btns"></div>
        <div class="testimonial-slider">
          <div class="single-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="testimonial-card">
              <div class="image">
                <img src="./assets/image/dude1.png" alt="">
              </div>
              <div class="content">
                <span class="d-block">{{"home.testimonials.first"| translate}}</span>
              </div>
            </div>
          </div>
          <div class="single-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="testimonial-card">
              <div class="image">
                <img src="./assets/image/dude2.png" alt="">
              </div>
              <div class="content">
                <span class="d-block">{{"home.testimonials.second"| translate}}</span>
              </div>
            </div>
          </div>
          <div class="single-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="testimonial-card">
              <div class="image">
                <img src="./assets/image/dude3.png" alt="">
              </div>
              <div class="content">
                <span class="d-block">{{"home.testimonials.third"| translate}}</span>
              </div>
            </div>
          </div>
          <div class="single-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="testimonial-card">
              <div class="image">
                <img src="./assets/image/dude4.png" alt="">
              </div>
              <div class="content">
                <span class="d-block">{{"home.testimonials.forth"| translate}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-holder testimonial-shape" data-aos="zoom-in-left" data-aos-once="true"><img src="./assets/image/testimonial-shape.svg" alt=""></div>
  </section>

  <app-contact></app-contact>

  <!-- Footer Section -->
  <div class="footer-section position-relative">
    <div class="container margin-decrese">
        <span class="section-devider mt--130"></span>
        <div class="row mt--70">
          <div class="col-lg-12 col-xl-12 col-margin">
            <div class="ft-newsletter-box">
                <span class="ft-title-sm">{{ "home.newsletter.title" | translate }}</span>
                <p>{{ "home.newsletter.description" | translate }}</p>
                <form [formGroup]="newsletterForm">
                  <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" name="newsletterEmail"  placeholder="{{ 'home.newsletter.email' | translate }}">
                    <span class="error-message" *ngIf="newsletterIsValid('email')">{{ "contact.errors.email" | translate }} </span>
                    <button class="submit-btn newsletter-btn"><i class="icon icon-tail-right"></i></button>
                  </div>
                </form>
                <p *ngIf="newsletterSent">{{"home.newsletter.success" | translate}}</p>
            </div>
          </div>
        </div>
    </div>
    <div class="shape-holder footer-shape-1" data-aos="zoom-in-left" data-aos-once="true"><img src="./assets/image/cta-shape.svg" alt=""></div>
    <div class="shape-holder footer-shape-2" data-aos="zoom-in-right" data-aos-once="true"><img src="./assets/image/footer-shape.svg" alt=""></div>
  </div>

</div>
